@import "tailwindcss";

:root {
  --primary-color: #2563eb;
  --secondary-color: #f8fafc;
  --text-dark: #1e293b;
  --text-light: #64748b;
  --border-color: #e2e8f0;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-dark);
}